[database]
dbservername = 
dbusername = 
dbpassword = 
dbname = 

[misc]
mailfolderpath = 
maildirencryption = 
captcha = 
allowregistration = 
adminadress = 
deletedelrequestdaydiff = 
sendactivationinfo = 
prohibadminmailcreation = 
connectionsettingsadvicetext = ""

[mailserver]
mailsmtpserver=""
mailadress=""
mailpw=''
